/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* index.css */
:root {
    --background-color: #ffffff;
    --text-color: #000000;
}

.dark {
    --background-color: #121212;
    --text-color: #ffffff;
}

.light {
    --background-color: #ffffff;
    --text-color: #000000;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

.toggle-btn {
    background-color: transparent;
    border: none;
    font-size: 1rem;
    cursor: pointer;
}